.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  margin: 0px 20px 0px 20px;
  /* Center slide text vertically */
}

/* .header-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
